/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/

	#learndash_profile #course_list > div h4 > p.classes {
		font-size: 14px;
		font-weight: 600;
		padding-left: 30px !important;
		padding-right: 68px;
		position: relative;
		line-height: 1.2;
	}

}/* don't delete this closing bracket */

.notes-container {
	margin-bottom: 12px;
}

.note-header {
	box-sizing: border-box;
	padding: 12px;
	background-color: #f8f8f8;
	font-size: 20px;
	font-weight: 700;
}

.note-header a:hover {
	color: black !important;
}

.expand-collapse {
	float: right;
	background-color: rgb(205, 215, 226);
	color: black !important;
	padding: 0px 6px;
}

.note {
	box-sizing: border-box;
	padding: 12px;
	background-color: white;
	overflow: auto;
}

.note-timestamp {
	font-weight: bold;
	float: right;	
}

.rm-tabs {
	overflow: auto;
}

.rm-tabs .rm-tab-option {
	float: left;
	margin-right: 8px;
	padding: 16px;
	font-size: 16px;
	background-color: rgb(210, 210, 210);
}

.rm-tabs .rm-tab-option.selected {
	background-color: white;
}

#settings-form label[for=pass1],
#settings-form #pass1,
#settings-form #pass-strength-result,
#settings-form label[for=pass2],
#settings-form #pass2 {
	display: none;
}

#settings-form #email {
	margin-bottom: 0px;
}

.cant-test .wpProQuiz_button[name=restartQuiz], .cant-test .wpProQuiz_button[name=startQuiz] {
	display: none;
}